@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap');


/* || REST */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --GREEN: #44FFA1;
  --PURPLE-900: #24053E;
  --PURPLE-500: #584D62;
  --PURPLE-100: #FCF8FF;
  --WHITE: #FFFFFF;

  /* GRADIENTS */

  /* TYPOGRAPHY */
  --FF1: "Fraunces", serif;
  --FF2: "Manrope", serif;

  /* DESKTOP TEXT PRESETS */
  --TEXT-PRESET-1-DSK: 600 5rem/100% var(--FF1);
  --TEXT-PRESET-2-DSK: 600 3.5rem/120% var(--FF1);
  --TEXT-PRESET-3-DSK: 600 2rem/120% var(--FF1);
  --TEXT-PRESET-4-DSK: normal 1.125rem/180% var(--FF2);
  --TEXT-PRESET-5: bold 1.125rem/180% var(--FF2);

  /* TABLET TEXT PRESETS */
  --TEXT-PRESET-1-TAB: 600 3.75rem/100% var(--FF1);
  --TEXT-PRESET-2-TAB: 600 3rem/120% var(--FF1);
  --TEXT-PRESET-3-TAB: 600 1.75rem/120% var(--FF1);
  --TEXT-PRESET-4-TAB: normal 1rem/180% var(--FF2);

  /* MOBILE TEXT PRESETS */
  --TEXT-PRESET-1-MOB: 600 3rem/100% var(--FF1);
  --TEXT-PRESET-2-MOB: 600 2rem/120% var(--FF1);
  --TEXT-PRESET-3-MOB: 600 1.5rem/120% var(--FF1);
  --TEXT-PRESET-4-MOB: normal 1rem/180% var(--FF2);
  --TEXT-PRESET-5-MOB: bold 1rem/180% var(--FF2);
  --TEXT-PRESET-NUMBER-MOB: 600 1.25rem/2.5rem var(--FF1);

}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

/* HEADER */
.workit__header {
    max-width: 100%;
    min-height: 481px;
    background-color: var(--PURPLE-900);
    padding: 2rem 1.25rem 10.5rem 1.25rem;
    
    display: flex;
    flex-flow: column;
    align-items: center;

    background-image: url("./images/curve-1-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
}

/* NAVIGATION */
.header__nav {
    width: 335px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-logo {
    width: 95.76px;
    height: 24.61px;
}


.header__nav-link {
    font: var(--TEXT-PRESET-5);
    color: var(--WHITE);
    text-decoration: none;
    position: relative;
}

.header__nav-link::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: -5px;
    background-color: var(--GREEN);
    width: 143px;
    height: 3px;
}

/* HERO */
.header__hero-content {
    margin-top: 3.5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2.5rem;
}

.header__hero-title {
    max-width: 335px;
    font: var(--TEXT-PRESET-1-MOB);
    color: var(--WHITE);
}

.underline {
  display: inline-block;
  border-bottom: 3px solid var(--GREEN);
  padding-bottom: 5px;
}

.header__hero-button {
    display: block;
    width: 151px;
    height: 53px;
    font: var(--TEXT-PRESET-5-MOB);
    color: var(--PURPLE-900);
    background-color: var(--GREEN);
    padding: .75rem 2rem;
    text-decoration: none;
}

/* HERO IMAGE */
.illustration__image {
    position: absolute;
    top: 377px;
    left: 50%;
    transform: translateX(-50%); 
}

.illustration__image img {
    max-width: 320.02px;
}

/* MAIN */
.workit__main {
  display: flex;
  flex-flow: column;
  align-content: center;
}

/* WORKIT VALUE */
.workit__value {
    width: 100%;
    min-height: 966px;
    background-color: var(--PURPLE-100);
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2rem;
    padding: 9rem 1.25rem 5.5rem 1.25rem;

    background-image: url("./images/curve-2-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
}

.value__content-list {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1.5rem;
}

/* WORKIT VALUE CONTENT */
.value__content-list-numbers {
  width: 48px;
  height: 48px;
  border: .0625rem solid var(--PURPLE-500);
  border-radius: 6.1875rem;
  display: grid;
  place-content: center;
  font: var(--TEXT-PRESET-NUMBER-MOB);
  color: var(--PURPLE-900);
}

.value__content-list-description {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}

.value__content-list-title {
  font: var(--TEXT-PRESET-3-MOB);
  color: var(--PURPLE-900);
}

.value__content-list-text {
  font: var(--TEXT-PRESET-4-MOB);
  color: var(--PURPLE-900);
  max-width: 335px;
}

/* WORKIT CTA */
.workit__cta {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 21.5rem 1.25rem 0rem 1.25rem;
}

.cta-content {
  width: 335px;
  height: 393px;
  background-color: var(--PURPLE-900);
  padding: 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;
  position: relative;
}

/* CTA IMAGE */
.cta__image {
  width: 280px;
  height: 280px;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 345px;
  z-index: -1;
}

.cta__image img {
  max-width: 280px;
}

.cta__content-title {
  font: var(--TEXT-PRESET-2-MOB);
  color: var(--WHITE);
}

.cta__content-text {
  font: var(--TEXT-PRESET-4-MOB);
  color: var(--WHITE);
  max-width: 271px;
}

/* CTA BUTTON */
.cta__content-link {
    display: block;
    width: 191px;
    height: 53px;
    font: var(--TEXT-PRESET-5-MOB);
    color: var(--PURPLE-900);
    background-color: var(--GREEN);
    padding: .75rem 2rem;
    text-decoration: none;
}

/* FOOTER */
.workit__footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 3.5rem;
  padding: 5rem;
}

/* WORKIT LOGO */
.footer__logo img {
  max-width: 95.76px;
}


.footer__social-links {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

.footer__social-link {
  display: block;
  width: 20px;
  height: 20px;
}

.footer__social-link figure img {
  max-width: 20px;
}

@media screen and (min-width: 768px) {
  /* HEADER */
  .workit__header {
    min-height: 540px;
    padding: 2rem 2.75rem 12.5rem 2.75rem;
    
    background-image: url("./images/curve-1-tablet.svg");
  }

  /* NAVIGATION */
  .header__nav {
    width: 680px;
  }

  /* HERO */
  .header__hero-title {
    max-width: 635px;
    font: var(--TEXT-PRESET-1-TAB);
  }

  .header__hero-button {
    width: 162px;
    height: 56px;
    font: var(--TEXT-PRESET-5);
  }

  .bg-pat-one,
  .bg-pat-two-one,
  .bg-pat-three {
    display: block;
    position: absolute;
  }

  .bg-pat-one {
    top: 57px;
    left: -225px;
  }

  .bg-pat-two-one {
    top: 263px;
    right: 0px;
  }

  /* HERO IMAGE */
  .illustration__image {
    top: 380px;
  }

  .illustration__image img {
    max-width: 514.81px;
  }

  /* WORKIT VALUE */
  .workit__value {
      min-height: 731px;
      padding: 11.8125rem 2.75rem 7.25rem 2.75rem;

      background-image: url("./images/curve-2-tablet.svg");
  }

  .value__content-list {
    flex-flow: row;
    gap: 3.5rem;
  }

  /* WORKIT VALUE CONTENT */
  .value__content-list-description {
    gap: 1.75rem;
  }

  .value__content-list-title {
    font: var(--TEXT-PRESET-3-TAB);
    width: 576px;
    text-align: left;
  }

  .value__content-list-text {
    font: var(--TEXT-PRESET-4-TAB);
    max-width: 576px;
    text-align: left;
  }

  /* WORKIT CTA */
.workit__cta {
  padding: 17.5625rem 2.75rem 0rem 13.75rem;
}

.cta-content {
  width: 504px;
  height: 390px;
  padding: 3rem;
  align-items: flex-start;
}

/* CTA IMAGE */
.cta__image {
  bottom: 278px;
  left: -36px;
}

.cta__content-title {
  font: var(--TEXT-PRESET-2-TAB);
}

.cta__content-text {
  font: var(--TEXT-PRESET-4-TAB);
  max-width: 408px;
  text-align: left;
}

/* CTA BUTTON */
.cta__content-link {
    width: 207px;
    height: 56px;
    font: var(--TEXT-PRESET-5);
}

.bg-pat-three {
  top: 291px;
  right: 14px;
}

}

@media screen and (min-width: 992px) {
  /* HEADER */
  .workit__header {
    min-height: 771px;
    padding: 3.5rem 5rem 18.5rem 5rem;
    
    background-image: url("./images/curve-1-desktop.svg");
  }

  /* NAVIGATION */
  .header__nav {
    width: 1120px;
  }

  .header__nav-link:hover,
  .header__nav-link:focus-visible {
    color: var(--GREEN);
  }

  /* HERO */
  .header__hero-title {
    font: var(--TEXT-PRESET-1-DSK);
  }

  .header__hero-button:hover,
  .header__hero-button:focus-visible {
    outline: 2px solid var(--GREEN);
    color: var(--GREEN);
    background-color: transparent;
  }


  .bg-pat-one,
  .bg-pat-two-two,
  .bg-pat-three {
    display: block;
    position: absolute;
  }

  .bg-pat-two-one{
    display: none;
  }

  .bg-pat-one {
    top: 138px;
    left: -101px;
  }

  .bg-pat-two-two {
    top: 342px;
    right: 0px;
  }

  /* HERO IMAGE */
  .illustration__image {
    top: 491px;
  }

  .illustration__image img {
    max-width: 767px;
  }

  /* WORKIT VALUE */
  .workit__value {
      min-height: 771px;
      padding: 15.5625rem 5rem 13.5rem 5rem;
      flex-flow: row;
      justify-content: center;

      background-image: url("./images/curve-2-desktop.svg");
  }

  .value__content-list {
    max-width: 352px;
    flex-flow: column;
    gap: 3.5rem;
  }

  /* WORKIT VALUE CONTENT */
  .value__content-list-title {
    font: var(--TEXT-PRESET-3-DSK);
    text-align: center;
  }

  .value__content-list-text {
    font: var(--TEXT-PRESET-4-DSK);
    max-width: 352px;
    text-align: center;
  }

   /* WORKIT CTA */
  .workit__cta {
    padding: 17.5625rem 10rem 0rem 34.375rem;
  }

  .cta-content {
    width: 730px;
    height: 411px;
    padding: 4rem;
  }

  /* CTA IMAGE */
  .cta__image {
    width: 477px;
    height: 477px;
    bottom: 102px;
    left: -151px;
  }

  .cta__image img  {
    max-width: 477px
  };

  .cta__content-title {
    font: var(--TEXT-PRESET-2-DSK);
  }

  .cta__content-text {
    font: var(--TEXT-PRESET-4-DSK);
    max-width: 608px;
  }

  .cta__content-link:hover,
  .cta__content-link:focus-visible {
    outline: 2px solid var(--GREEN);
    color: var(--GREEN);
    background-color: transparent;
  }


  /* CTA BUTTON */
  .bg-pat-three {
    top: 264px;
    right: 107.71px;
  }

  /* FOOTER */
  .footer__social-link:hover .social-link__org,
  .footer__social-link:focus-visible .social-link__org {
    display: none;
  }

  .footer__social-link:hover .social-link__hvr,
  .footer__social-link:focus-visible .social-link__hvr {
    display: block;
  }

}


