@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap');


/* || REST */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --GREEN: #44FFA1;
  --PURPLE-900: #24053E;
  --PURPLE-500: #584D62;
  --PURPLE-100: #FCF8FF;
  --WHITE: #FFFFFF;

  /* GRADIENTS */

  /* TYPOGRAPHY */
  --FF1: "Fraunces", serif;
  --FF2: "Manrope", serif;

  /* DESKTOP TEXT PRESETS */
  --TEXT-PRESET-1-DSK: 600 5rem/100% var(--FF1);
  --TEXT-PRESET-2-DSK: 600 3.5rem/120% var(--FF1);
  --TEXT-PRESET-3-DSK: 600 2rem/120% var(--FF1);
  --TEXT-PRESET-4-DSK: normal 1.125rem/180% var(--FF2);
  --TEXT-PRESET-5: bold 1.125rem/180% var(--FF2);

  /* TABLET TEXT PRESETS */
  --TEXT-PRESET-1-TAB: 600 3.75rem/100% var(--FF1);
  --TEXT-PRESET-2-TAB: 600 3rem/120% var(--FF1);
  --TEXT-PRESET-3-TAB: 600 1.75rem/120% var(--FF1);
  --TEXT-PRESET-4-TAB: normal 1rem/180% var(--FF2);

  /* MOBILE TEXT PRESETS */
  --TEXT-PRESET-1-MOB: 600 3rem/100% var(--FF1);
  --TEXT-PRESET-2-MOB: 600 2rem/120% var(--FF1);
  --TEXT-PRESET-3-MOB: 600 1.5rem/120% var(--FF1);
  --TEXT-PRESET-4-MOB: normal 1rem/180% var(--FF2);
  --TEXT-PRESET-5-MOB: bold 1rem/180% var(--FF2);
  --TEXT-PRESET-NUMBER-MOB: 600 1.25rem/2.5rem var(--FF1);

}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--WHITE);
  display: grid;
  place-content: center;
}

a:any-link {
  text-decoration: none;
}

/* WORKIT PAGE */
.workit {
    max-width: 375px;
    min-height: 2444.61px;
}

/* HEADER */
.workit__header {
    width: 100%;
    height: 561px;
    display: flex;
    flex-flow: column;
    position: relative;
}

.workit__hero {
    width: 100%;
    height: 457px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--PURPLE-900);
    position: relative;
}

/* NAVIGATION */
.header__nav {
    width: 100%;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 20px 0px 20px;
}

.header__nav-logo {
    width: 95.76px;
    height: 24.61px;
}

.header__nav-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__nav-link {
    font: var(--TEXT-PRESET-5);
    color: var(--GREEN);
    text-decoration: underline;
    text-underline-offset: .375rem;
}

.header__nav-link a {
    color: var(--WHITE);
}

/* HERO */
.header__hero {
    width: 100%;
    height: 390px;
    padding: 56px 20px 144px 20px;
    display: flex;
    flex-flow: column;
    gap: 2.5rem;
}

.header__hero-title {
    font: var(--TEXT-PRESET-1-MOB);
    color: var(--WHITE);
}

.underline {
  position: relative;
}

.underline:after {
  content: '';
  position: absolute;
  width: 100%;
  border-top: .1875rem solid var(--GREEN);
  left: 0;
  bottom: 5px;
}

.header__hero-button a {
    font: var(--TEXT-PRESET-5-MOB);
    color: var(--PURPLE-900);
    background-color: var(--GREEN);
    padding: .75rem 2rem;
}

/* HERO IMAGE */
.illustration__image {
    width: 298.32px;
    height: 178.16px;
    position: absolute;
    top: 376px;
}

.illustration__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__ornamental {
    width: 100%;
    height: 48px;
    background-color: var(--PURPLE-900);
    border-radius: 50%;
    position: absolute;
    top: 433px;
    z-index: -1;
}

/* WORKIT VALUE */
.workit__value {
    width: 100%;
    height: 886px;
    background-color: var(--PURPLE-100);
    display: flex;
    flex-flow: column;
    position: relative;
}

.value__content {
  width: 100%;
  height: 875px;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  padding: 4rem 1.25rem;
}

.value__content-list {
  width: 100%;
  height: 233px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* WORKIT VALUE CONTENT */
.value__content-list-numbers {
  width: 48px;
  height: 48px;
  border: .0625rem solid var(--PURPLE-500);
  border-radius: 6.1875rem;
  display: grid;
  place-content: center;
  margin-bottom: 1.5rem;
  font: var(--TEXT-PRESET-NUMBER-MOB);
  color: var(--PURPLE-900);
}

.value__content-list-title {
  font: var(--TEXT-PRESET-3-MOB);
  color: var(--PURPLE-900);
  margin-bottom: 1rem;
}

.value__content-list-text {
  font: var(--TEXT-PRESET-4-MOB);
  color: var(--PURPLE-900);
}

.value__ornamental {
  width: 100%;
  height: 48px;
  background-color: var(--PURPLE-100);
  border-radius: 50%;
  position: absolute;
  top: 862px;
  z-index: -1;
}

/* WORKIT CTA */
.workit__cta {
  width: 100%;
  height: 737px;
  padding: 7rem 1.25rem 0rem 1.25rem;
}

.cta {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
}

/* CTA IMAGE */
.cta__image {
  width: 335px;
  height: 280px;
  display: grid;
  place-content: center;
}

.cta__image img {
  width: 280px;
  height: 280px;
  object-fit: cover;
}

/* CTA CONTENT */
.cta__content {
  width: 100%;
  height: 393px;
  background-color: var(--PURPLE-900);
  display: flex;
  flex-flow: column;
  gap: 2rem;
  padding: 2rem;
  position: absolute;
  top: 232px;
}

.cta__content-title {
  font: var(--TEXT-PRESET-2-MOB);
  color: var(--WHITE);
}

.cta__content-text {
  font: var(--TEXT-PRESET-4-MOB);
  color: var(--WHITE);
}

/* CTA BUTTON */
.cta__content-link a {
  font: var(--TEXT-PRESET-5-MOB);
  color: var(--PURPLE-900);
  background-color: var(--GREEN);
  padding: .75rem 2rem;
}

/* FOOTER */
.workit__footer {
  width: 100%;
  height: 260.61px;
  padding: 5rem 8.0938rem;
}

.footer__content {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 3.5rem;
}

/* WORKIT LOGO */
.footer__content-logo {
  width: 95.76px;
  height: 24.61px;
}

.footer__content-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer__social-media-logos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}